language: java
jdk:
  - oraclejdk8

sudo: true

install: true

script:
  - pwd
  - cd Webapplication
  - chmod +x gradlew 
  - ./gradlew war
  - cd build/libs
  - ls -al
  - cd ../../..
  - pwd
  - ls -al

after_success:
  - pwd
  - ls -al
  - mkdir codedeploy_artifact
  - cp Infrastructure/aws/codedeploy/*.sh .
  - cp Infrastructure/aws/codedeploy/*.yml .
  - zip -r csye6225-web-app-${TRAVIS_JOB_NUMBER}.zip Webapplication/build/libs/ROOT.war *.sh *.yml
  - ls -al
  - mv csye6225-web-app-${TRAVIS_JOB_NUMBER}.zip codedeploy_artifact/
  - ls -al
  - pwd
  - cd codedeploy_artifact
  - ls -al
  - pwd
  - cd ..
  - pwd
  - ls -al

deploy:
  - provider: s3
    local_dir: codedeploy_artifact
    bucket: $s3_bucket
    region: us-east-1
    skip_cleanup: true
    access_key_id: $access_key_id
    secret_access_key: $access_secret_key
    acl: public_read
    on:
      branch: Assignment6
   
  - provider: codedeploy
    access_key_id: $access_key_id
    secret_access_key: $access_secret_key
    bucket: $s3_bucket
    key: csye6225-web-app-${TRAVIS_JOB_NUMBER}.zip
    bundle_type: zip
    application: $application
    deployment_group: $deployment_group
    region: us-east-1
    wait-until-deployed: true
    on:
      branch: Assignment6
